$heigth: 40px;
@import "../header/header.scss";

.window {
  width: 350px;
  background: rgba(255, 255, 255, 0.884);
  border-radius: 10px;
  align-self: center;
  margin: 0 auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  transition: all 0.2s linear 0s;
  .close {
    text-decoration: none;
    color: inherit;
    font-size: 40px;
    margin-right: 20px;
    align-self: flex-end;
  }
  .form {
    padding: 50px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    .choice-in {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .button-item {
        flex-grow: 1;
        text-align: center;
        text-decoration: none;
        color: rgba(128, 128, 128, 0.689);
        border: none;
        font-size: inherit;
        background: none;
        cursor: pointer;
        &:hover { 
          color: black
        }
        &:disabled {
          cursor: not-allowed;
          pointer-events: none;
        }
      }
      .active {
        border-bottom: 1.5px solid $blue;
        color: $blue;
      }
    }
    .label {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      .input {
        margin-top: 10px;
        height: $heigth;
        border-radius: 5px;
        border: 1px solid grey;
        font-size: inherit;
      }
    }
    .btn {
      height: $heigth;
      @extend %button;
      margin-top: 10px;
    }
  }
}

.blackout {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.92);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

